td {
    background: rgb(189, 201, 218);
}
th {
    background: lightgray;
}
a {
    color: rgb(32, 13, 109);
}
thead, tbody {
    font-size: 14pt;
}
.pagetitle {
    background: white;
    font-size: 13pt;
    padding-left: 10px;
    margin-right: 900px;
    font-size: 20pt;
}
