<div>
  <div>
    <span>User Detail</span>
  </div>
  <p *ngIf = "!user">Retrieving data, hold your horses.</p>
  <!-- *ngIf = "user" gets rid of errors -->
  <table class = "table table-sm" *ngIf = "user">
    <tr><td>ID:</td><td>{{ user.id }}</td></tr>
    <tr><td>Name:</td><td>{{ user.firstName }} {{ user.lastName }}</td></tr>
    <tr><td>Username:</td><td>{{ user.userName }}</td></tr>
    <tr><td>Phone Number:</td><td>{{ user.phoneNumber }}</td></tr>
    <tr><td>Email:</td><td>{{ user.email }}</td></tr>
    <tr><td>Reviewer:</td><td>{{ user.reviewer | bool}}</td></tr>
    <tr><td>Admin:</td><td>{{ user.admin | bool }}</td></tr>
  </table>
  <div>
    <button class = "btn btn-danger" (click) = "delete()">Delete User</button>
    <p>This action cannot be undone.</p>
  </div>
</div>