<div class = "box">
<h1>Rachael Baumann</h1>

<h2>About Me!</h2>
<div class = "wrapper">
  <img src = "img/profilepic.jpg" alt = "my picture" class = "pic1">
  <p>
    I was born in Cincinnati, OH and grew up here. I went to grade school at Indian Hill and graduated 
    from high school in 2010. I moved to Boulder, CO after high school to study chemical engineering
    at the University of Colorado. I graduated with a bachelor of science in chemical engineering 
    and a certificate in Spanish in 2014. Since then, I've been working for in Mathematica making 
    interactive simulations. In August 2018 I started attending a Java bootcamp ant MAX Technical 
    Training/Cincy Code IT.
  </p>
</div>

<h2>Technical Skills</h2>
<div>
  <p>
    In August 2018 I started a Java bootcamp at MAX Technical Training/Cincy Code IT. THe bootcamp ran 
    August to November and I learned how to become a full-stack developer. My capstone project was a
    single-page purchase request system. It was made using Java, Spring framework, MySQL, Angular 
    framework, CSS, HTML, and Javascript.
  </p>
  <table>
      <tr>
        <td>Angular</td><td>Hibernate</td><td>jQuery</td>
      </tr>
      <tr>
        <td>Bootstrap</td><td>HTML</td><td>MySQL</td>
      </tr>
      <tr>
        <td>CSS</td><td>Java</td><td>Scrum</td>
      </tr>
      <tr>
        <td>Git</td><td>Javascript</td><td>Spring</td>
      </tr>
      <tr>
        <td>GitHub</td><td>JDBC</td><td>Typescript</td>
      </tr>
    </table>
    <br/>
</div>

<h2>Work Experience</h2>
<div class = "wrapper">
  <img src = "img/margules.jpg" alt = "mathematica" class = "pic2">
  <p>
    From 2013 to 2018 I used Mathematica to create interactive simulations on diiferent topics
    in chemical and mechanical engineering that are published to the 
    <a href = "http://demonstrations.wolfram.com/author.html?author=Rachael%20L.%20Baumann">
      Wolfram Demonstrations Project</a>
    website. I have been the main coder on the project for 5 years. I worked closely with a professor
    at the University of Colrado Department of Chemical and Biological Engineering to supplement
    the 
    <a href = "http://learncheme.com">LearnChemE</a>
    youtube project.
  </p>
  
  <!-- <img src = "img/code.jpg" alt = "code" class = "pic3"> -->
</div>
</div>