<div>
  <div class = "pagetitle">
    <span>Product List</span>
    |
    <a routerLink = '/products/create'>Create New Product</a>
  </div>

  <table class = "table table-sm" *ngIf = "products"><!--*ngIf is for sorting (*ngIf = "products")-->
    <thead>
      <tr>
        <th>ID</th>
        <th>Vendor</th>
        <th>Part #</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let p of products | sortProducts'>
        <td>{{p.id}}</td>
        <td>{{p.vendor.name}}</td>
        <td>{{p.partNumber}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price | currency}}</td>
        <td>{{p.unit}}</td>
        <td>
          <a routerLink = '/products/detail/{{p.id}}'>Detail</a>
          |
          <a routerLink = '/products/edit/{{p.id}}'>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>