/* body {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 50px;
    background: rgb(191, 205, 221);
} */
body {
    /* margin: 0; */
    background: url(img/office1.jpeg) no-repeat center fixed;
    background-size: cover;
    height: 1500px;
}
nav {
    font-size: 16pt;
}

.box {
    background: rgb(189, 201, 218);
    margin-left: 150px;
    margin-right: 150px;
    padding: 0 20px;
}
