.box {
    background: rgb(189, 201, 218);
    margin-left: 175px;
    margin-right: 175px;
    padding: 20px;
    font-size: 14pt;
}
.butn {
    text-align: center;
}
.pagetitle {
    text-align: center;
    font-size: 20pt;
}