<div>
  <div class = "component">
    <div class = "link">
      <span>Product List</span>
      | <a *ngIf="pr" routerLink='/lines/create/{{ pr.Id }}'>Create New Line</a>
    </div>
    <div *ngIf = "pr">
      <table class = "table table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ pr.id }}</td>
            <td>{{ pr.description }}</td>
            <td>{{ pr.status }}</td>
            <td>{{ pr.total | currency }}</td>
            <td>{{pr.user.firstName}} {{pr.user.lastName}}</td>
          </tr>
        </tbody>
      </table>
      <br/>

      <table class = "table table-sm">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let li of prlis">
            <td>{{ li.product.name }}</td>
            <td>{{ li.quantity }}</td>
            <td>{{ li.quantity * li.product.price | currency }}</td>
            <td>
              <a routerLink = 'lines/detail/{{li.id}}'>Detail</a>
              |
              <a routerLink = 'lines/edit/{{li.id}}'>Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>