<div class = "box">
  <h1>Dev Jam's Purchase Request System!</h1>
  <h2>Boot Camp Capstone Project</h2>
  <p>
    The purchase request system (PRS) project was completed by the Java Fall 2018 boot camp at
    MAX Technical Training/Cincy Code IT. The project utilizes several programs that were learned
    in the class, including:
  </p>
  <table>
    <tr>
      <th>Front-End:</th>
      <th>Back-End:</th>
    </tr>
    <tr>
      <td>Angular Framework</td>
      <td>Java</td>
    </tr>
    <tr>
      <td>CSS</td>
      <td>Spring Framework</td>
    </tr>
    <tr>
      <td>HTML</td>
      <td>MySQL</td>
    </tr>
  </table>
  <hr/>
  <p>
    The purchase request system allows a user to generate a request for an item or items that 
    they need, then notifies the purchasing department of the items that they need to order. 
    The PRS allows for organization of purchasing in an office setting.
    <br/>
    The user logs in to make a purchase request with their own username and password. Once the
    user makes a purchase request, they can go in and add to it, change it, or delete it.
    The purchase request is then looked at by a reviwer who then makes the
    decision to accept or reject it. 
    <br/>
    The PRS contains a list of products, users, and approved vendors.
  </p>
</div>